/*
    Author............ : Nathan Sikkema
    Student Number.... : 000911571
    Program........... : Software Development
    Course............ : Mobile Web Programming
    Type.............. : CSS
    Start Date........ : 2025 02 14
    End Date.......... : 2025 02 17
    Due Date.......... : 2025 02 16
    Duration.......... : 3 Days
    Late Days used.... : 1
    Last Modified..... : 2025 02 17
    
    StAuth10244: I Nathan Sikkema, 000911571 certify that this material is my original work. 
    No other person's work has been used without due acknowledgement. 
    I have not made my work available to anyone else.
*/
#info-window-content {
    width: 300px;
}
#info-window-header {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#info-window-header img {
    max-width: 40px; 
    height: auto; 
    margin: 5px;
    border: black 1px solid;
}
#info-window-header h2 {
    margin: 5px; 
    font-size: 1.2em;
    font-weight: bold;
}
#info-window-content {
    margin-top: 5px; 
    text-align: center;
}
.listed-item-address {
    font-size: 14px !important;
}
#main-section {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
#main-section > .col-md-9 {
    flex: 0 0 75%;
}
#main-section > .col-md-3, .col-md-12 {
    flex: 0 0 25%;
}
@media screen and (max-width: 600px) {
    #main-section {
        flex-direction: column;
    }
    #main-section > div {
        flex: 0 0 100%;
        width: 100%;
    }
    .buttons button {
        font-size: 14px !important;
    }
    #map {
        aspect-ratio: 1/1;
        zoom: 60%;
    }
}