#info-window-content {
    width: 250px;
}
#info-window-header {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#info-window-header img {
    max-width: 40px; 
    height: auto; 
    margin-left: 5px;
}