#info-window-content {
    width: 250px;
}
#info-window-header {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#info-window-header img {
    max-width: 40px; 
    height: auto; 
    margin-left: 5px;
}
#info-window-header h2 {
    margin: 5px; 
    font-size: 1.2em;
}
#info-window-content {
    margin-top: 5px; 
    text-align: center;
}